<!DOCTYPE html>
<html ng-app="App">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ngLetras</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Varela+Round|Fredoka+One|Arvo" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico?v=2">
</head>

<body ng-controller="MainController">

    <div class="main">
      <a class="headerText" ui-sref="home"><h1>ngLetras</h1></a>

      <form class="searchBox" action="">
          <input type="text" ng-model="searchObj.band" placeholder="Search for artist ...">
          <input type="text" ng-model="searchObj.title" placeholder="Search for song ...">
          <button ng-click = "search(searchObj.band, searchObj.title)">Search</button>
      </form>

      <ui-view></ui-view>

      <div class="footer">made by Emiliano Mesquita</div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="./dist/angular-ui-router.min.js"></script>
    <!-- <script src="./dist/application.js"></script> -->
    <script src="./js/App.js"></script>
    <script src="./js/services/MainService.js"></script>
    <script src="./js/MainController.js"></script>
    <script src="./views/song/SongController.js"></script>
    <script src="./views/lyrics/LyricsController.js"></script>
</body>

</html>
